<div class="ui container">
  <div class="ui large header">Dein Kommentar zum Padlet mit der ID {{padletId}}</div>
  <form class="ui large form" [formGroup]="commentForm"
        (ngSubmit)="submitForm()">
    <input type="hidden" formControlName="id">
    <div class="field">
      <label>Dein Kommentar:</label>
      <input formControlName="comment">
      <div *ngIf="errors['comment']" class="ui negative message">{{errors['comment']}}</div>
    </div>


    <button type="submit" class="ui button" [disabled]="commentForm.invalid">Speichern</button>
  </form>
</div>
