<div class="ui container">
  <div class="ui " *ngIf="padlet">
    <div>

      <div class="ui basic segment">
        <!-- Content goes here -->
      </div>

      <div class="ui raised segment">

        <h1 class="ui header">{{ padlet.name }}</h1>
        <a class="ui tiny labeled icon button" [routerLink]="['../../admin', padlet.id]">
          <i class="edit icon"></i> Bearbeiten
        </a>
        <a class="ui tiny labeled icon button" (click)="removePadlet()">
          <i class="delete icon"></i> Löschen
        </a>

        <div class="ui divider"></div>

        <div class="ui cards" *ngIf="entries">
          <div class="card" *ngFor="let entry of entries">
            <div class="content">
              <div class="header">{{ entry.title }}</div>
              <div class="description">{{ entry.text }}</div>
            </div>

            <div class="content" *ngFor="let comment of entry.comments">
              <div class="center aligned description" >
                <p>{{ comment.comment }} - from user</p>
              </div>
            </div>
            <a *ngIf="authService.isLoggedIn()" class="ui bottom attached button"
               [routerLink]="['../../admin/padlets', padlet.id, 'entries', entry.id, 'comment']">
              <i class="add icon"></i>
              Kommentieren
            </a>

            <div class="content" *ngFor="let rating of entry.ratings">
              <div class="center aligned description">
                <p>
                  <span [innerHTML]="getStars(rating.rating)"></span>
                  user
                </p>
              </div>
            </div>
            <a *ngIf="authService.isLoggedIn()" class="ui bottom attached button"
               [routerLink]="['../../admin/padlets', padlet.id, 'entries', entry.id, 'rating']">
              <i class="add icon"></i> Bewerten
            </a>

            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui basic green button" [routerLink]="['../../admin/padlets', padlet.id, 'entries', entry.id]">Eintrag bearbeiten</div>
                <div class="ui basic red button" (click)="removeEntry(entry.id)">Eintrag löschen</div>
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="entries" class="ui divider"></div>

        <a class="ui tiny labeled icon button green" [routerLink]="['../../admin/padlets', padlet.id, 'entries']">
          <i class="plus icon"></i> Eintrag hinzufügen
        </a>

      </div>

      <!--
      <div class="ui divider"></div>

      <div class="ui grid">
        <h4 class="ui header">Sonstige Attribute</h4>
        <div class="four wide column">
          <h4 class="ui header">ID</h4>
          {{ padlet.id }}
        </div>
        <div class="four wide column">
          <h4 class="ui header">Erstellt</h4>
          {{ padlet.creation_date | date: 'medium' }}
        </div>
        <div class="four wide column">
          <h4 class="ui header">Öffentlich?</h4>
          <span *ngIf="padlet.isPublic==true">Ja</span>
          <span *ngIf="padlet.isPublic==false">Nein</span>
        </div>
      </div>
      -->
    </div>
  </div>

  <div class="ui basic segment"></div>
  <a routerLink="/padlets" class="ui tiny labeled icon button">
    <i class="left arrow icon"></i> Zurück zur Padletliste
  </a>
  <div class="ui basic segment"></div>


</div>
